<div id="footer">
    <span>Follow Us</span>
    <div id="footer-social">
        <a href=""><img src="" alt="Facebook" /></a>
        <a href=""><img src="" alt="Twitter" /></a>
        <a href=""><img src="" alt="Patreon" /></a>
        <a href=""><img src="" alt="YouTube" /></a>
        <a href=""><img src="" alt="Instagram" /></a>
        {{!-- <a href=""><img src="" alt="" /></a> --}}
    </div>
    <div id="footer-links">
        <a id="about-link" href="">About Us</a>
        <span>|</span>
        <a id="contact-link" href="">Contact Us</a>
    </div>
    <span>&copy;2019 William A Houston and Benjamin A Houston</span>
</div>